<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">

	
	</head>

	<body>
		
		<p> Welcome to my e-portfolio! </p>
		<h1>Hi Everyone, </h1>
		<p>
			​My name is Istikbal Turut. I have graduated from Kabataş High School which is one  of the oldest and most prominent high schools in Turkey. Then I have graduated  from Boğaziçi University, founded in 1863, as Robert College, it is the first American higher education institution founded outside the United States and still maintains strong ties to the American educational system.
			
			In 2012, I met my Albanian wife Blerta Gjolaj and got married. I have two daughters, Nimet Nora Turut and Fitnat Mira Turut, aged 7 and 3.
			
			Then, in 2006, I went to Albania to work as a Chemistry Teacher. I worked as a chemistry teacher in different private and successful schools in this country until 2013.
			
			Finally, I came to Canada in 2013. I worked at Nile Academy for 4 years. I have taught chemistry and mathematics courses. In 2020, I successfully completed the "College Teachers Training Program" program at George Brown College.</p>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		
	</body>
</html>