<!DOCTYPE html>
<html>
	
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
	</head>
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		  border: 1px solid black;
  border-radius: 10px;
		}

		td, th {
		  border: 1px solid #f36565;
		  text-align: left;
		  padding: 8px;
		  border: 1px solid black;
  border-radius: 10px;

		}
		
		tr:nth-child(even) {
		  background-color: #dcebc8;
		}

		#listSection{
			background-color: #fafdae;
			border-style: dashed;
		}
		#imageSection{
			background-color: #c4e6f4;
			border-style: solid;
		}

		#audioSection{
			background-color: #fde8d2;
			border-style: solid;
		}

		#videoSection{
			background-color: #f3c4f4;
			border-style: solid;
		}
		</style>
	<body>
	
		
<div id="tableSection">
	<h2>SOME TABLE EXAMPLES</h2>
	<caption>List of users</caption>

	<table class="table">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">First</th>
			<th scope="col">Last</th>
			<th scope="col">Handle</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		  </tr>
		  <tr>
			<th scope="row">2</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		  </tr>
		  <tr>
			<th scope="row">3</th>
			<td colspan="2">Larry the Bird</td>
			
			<td>@twitter</td>
		  </tr>
		</tbody>
		<tfoot>
			<th scope="row">FOOTER</th>
			<td>Footer</td>
			<td>Footer</td>
			<td>Footer</td>
		  </tr>
		  </tfoot>
	  </table>
	<p>the above table is an exapmple for a simple table containing different features of table section.As a referance bootstrap is used.</p>
</div>
<div id="table2">
	<h2>ANOTHER TABLE EXAMPLE</h2>
	<table>
		<tr>
		  <th>Company</th>
		  <th>Contact</th>
		  <th>Country</th>
		</tr>
		<tr>
		  <td>Alfreds Futterkiste</td>
		  <td>Maria Anders</td>
		  <td>Germany</td>
		</tr>
		<tr>
		  <td>Centro comercial Moctezuma</td>
		  <td>Francisco Chang</td>
		  <td>Mexico</td>
		</tr>
		<tr>
		  <td>Ernst Handel</td>
		  <td>Roland Mendel</td>
		  <td>Austria</td>
		</tr>
		<tr>
		  <td>Island Trading</td>
		  <td>Helen Bennett</td>
		  <td>UK</td>
		</tr>
		<tr>
		  <td>Laughing Bacchus Winecellars</td>
		  <td>Yoshi Tannamuri</td>
		  <td>Canada</td>
		</tr>
		<tr>
		  <td>Magazzini Alimentari Riuniti</td>
		  <td>Giovanni Rovelli</td>
		  <td>Italy</td>
		</tr>
	  </table>
	  
	<p>For this table www.w3schools.com is used as referance</p>
</div>
<div id="listSection">
<h2>An Unordered HTML List</h2>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>  

<h2>An Ordered HTML List</h2>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol> 

<p>This section is taken w3schools List subsection</p>

</div>
<div id="imageSection">
	<h2>HTML IMAGE PART</h2>
	<img src="https://www.jquery-az.com/html/images/banana.jpg" title="Title of image" alt="alt text here" width="500" height="600">
	<img src="https://html.com/wp-content/uploads/flamingo.webp" alt="flamingo" width="500" height="600">
	<img src="http://www.awardaudio.com/image/Birds4F.jpg" alt="Bird" width="500" height="600">
	<p>This images are taken from different web pages</p>
</div>
<div id="audioSection">
	<h2>HTML AUDIO PART</h2>

	<audio controls>
	  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
	
		
	</audio>
	<p>This audio file is orginal ones given by in Lab directions</p>

</div>
<div id="videoSection">
	<h2>HTML VIDEO PART</h2>
	<video width="320" height="240" controls>
	  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4" type="video/mp4">
	 
	</video>
	<p>This video file is orginal ones given by in Lab directions</p>
</div>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>